@import 'custom';

/* L'élément .hero-scene a un arrière-plan d'image placé avec un pseudo-élément ::before qui couvre toute la zone et est assombri grâce à un filtre.
Tous les éléments à l'intérieur de .hero-scene sont positionnés relativement pour s'assurer qu'ils se trouvent au-dessus du pseudo-élément d'arrière-plan.*/

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/fond_hero.webp);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.image-card{
    position:relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
        .action-image-buttons{
            opacity: 1;
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

    .action-image-buttons{
        position : absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s;
    }
}

.allreservations{
    a{
        display: block;
        color: $black;
        padding:10px;
    }
}